    
    <textarea id="request_result" style="position:absolute; left: -1500px  "></textarea>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/sidebar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.js"></script>
    <script src="js/login.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/clipboard.js-master/dist/clipboard.min.js"></script>
    <script src="js/makeRequest.js"></script>
    <script src="js/request_history.js"></script>
    <script src="js/profile.js"></script>
    <script src="js/messages-custom.js"></script>
</body>
</html>