<div class="ui left vertical inverted visible menu sidebar">
        <a class="item active">
          Make new request
          <i class="red linkify icon"></i>
        </a>
        <a class="item">
          My requests history
          <i class="red history icon"></i>
        </a>
        <a class="item">
          Profile settings
          <i class="red user icon"></i>
        </a>
        <a class="item">
            Statistics
            <i class="red table icon"></i>
          </a>
        <a class="item">
            Admin page
            <i class="red cogs icon"></i>
          </a>
</div>