<div class="ui left vertical fixed inverted visible menu sidebar">
    <div class="item" id="menu">
       Remote Modem Manager Beta
    </div>
    <div class="item ">
        
    </div>
        <a class="item active" href="/index" id="index">
          New remote request
          <i class="linkify icon"></i>
        </a>
        <a class="item" href="/requesthistory" id="requesthistory">
          My requests history
          <i class="history icon"></i>
        </a>
        <a class="item" href="/profile" id="profile">
          Profile settings
          <i class="user icon"></i>
        </a>
        <a class="item" href="/stats" id="stats">
            Statistics
            <i class="table icon"></i>
          </a>
          <%if(currentUser.isAdmin){%>
            <a class="item">
                Admin page
                <i class="cogs icon"></i>
              </a>
          <%}%>
        
          <a class="item" href="/messages">
              Messages
              <i class="comments icon"></i>
          </a>
</div>