<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/sidebar %>

<div class= "pusher">
    <div class="ui center aligned grid">
        <h4 class="ui icon header">
                <i class="save icon"></i>
                        <div class="content">
                         Device scanner
                        <div class="sub header">Select device</div>
                        
                        </div>
        </h4>
    </div>
    <div class="ui center aligned grid">
                <div class="ten wide tablet seven wide computer column">
                    <div class="ui two column grid">

                            <div class="row">
                                    <div class="column">
                                            <label>Modem</label>
                                    </div>
                                    <div class="column">
                                            <label>Stb/Modul</label>
                                    </div>
                                </div>
                               <div class="row">
                                   <div class="column">
                                        <input type="radio" class="" name="device_select" value="modem">
                                   </div>
                                   <div class="column">
                                        <input type="radio" class="" name="device_select" value="stb">
                                    </div>
                               </div>
                    
                    
                    
                    
                    </div>
                   
                   
              
                    
                    
                </div>
       
    </div>

 

    <div class="ui center aligned grid segment device_input_container">


        
    </div> 
         


          
    </div>             
    
</div>


<% include ./partials/footer %>