<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/sidebar %>

<div class= "pusher">
    <div class="ui center aligned grid">
        <h4 class="ui icon header">
                <i class="save icon"></i>
                        <div class="content">
                         Device scanner
                        <div class="sub header">Page under construction</div>
                        
                        </div>
        </h4>
    </div>
    <div class="ui center aligned grid">
                <div class="field">
                    <label>Modem</label>
                    <input type="radio" name="device_select" value="modem">
              
                    <label>Stb/Modul</label>
                    <input type="radio" name="device_select" value="stb">
                </div>
       
    </div>
    <div class="ui center aligned grid segment device_input_container">
       
    </div> 
         


          
    </div>             
    
</div>


<% include ./partials/footer %>