<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/sidebar %>

<div class= "pusher">
    <div class="ui center aligned grid">
        <h4 class="ui icon header">
                <i class="save icon"></i>
                        <div class="content">
                         Device scanner
                        <div class="sub header"></div>
                        </div>
        </h4>
    </div>
    <div class="ui center aligned grid">
        <select name="ui device_select" id="">
            <option value="modem">modem</option>
            <option value="stb">stb</option>
        </select>
    </div>
    
</div>


<% include ./partials/footer %>