<% include ./partials/header %>
<% include ./partials/sidebar %>



  <div class= "pusher" style="width: calc(100% - 260px); height: 100%; ;background-color: rgba(241, 241, 241, 0.411)">

    <% include ./partials/navbar %>

      <div class="ui  centered grid" style="margin-top:5%">
        <div class="ui form" style="width: 70%">
            <div class="four fields">
                <div class="field">
                    <label>CPE IP address</label>
                    <input type="text" id="cpeIP" placeholder="46.40.27...." required>
                </div>
                <div class="field">
                    <label>Write community</label>
                    <input type="text" id="wCOM" placeholder="7335a..." required>
                  </div>
              <div class="field">
                <label>Modem IP address</label>
                <input type="text" id="modemIP" placeholder=" 10.230.10...." required>
              </div>
              
              <div class="field">
                    <label>Device type</label>
                    <select name="" id="modemType">
                        <option value="select"></option>
                        <option value="cisco">Cisco EPC3925</option>
                        <option value="thomson">Thomson THG571</option>
                    </select>
                </div>
            </div>
          </div>
      </div>
      <div class="ui  centered grid" style="padding-top:5%">
        <div class="ui form" style="min-width: 35%;">
                <div class="two fields">
                        <div class="field">
                                <button class="request_btn copy fluid ui red button" data-clipboard-target="#request_result" id="aquilaOnKey" disabled>Copy ON key</button>
                        </div>
                        <div class="field">
                                <button class="request_btn copy fluid ui red button" data-clipboard-target="#request_result" id="aquilaOffKey" disabled >Copy OFF Key</button>
                        </div>
                </div>
        </div>
      </div>
      
         <textarea id="request_result" style="position:absolute; left: -1500px  "></textarea>
      
        <div class="ui  centered grid" style="padding-top:5%">
                <div class="ui form" style="width: 70%">
                    <div class="field" id="link">
                                <div class="field">
                                    <a id="web-interface" href="" target="">Open device web interface </a>
                                       
                                </div>
                    </div>
                </div>
           
        </div>  
        <div class="ui grid">
            <div id="frame_holder" style="width: 1100px; height: 500px; margin-left: auto; margin-right: auto">
                <iframe id="remote-page" src=""  width="100%" height="100%" align="center" frameborder="0"></iframe>
            </div>
        <div>
        

    
  </div>
  <% include ./partials/footer %>