<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/sidebar %>

<div class= "pusher" style="width: calc(100% - 360px); height: 100%; padding-top: 50px; margin-top: -40px">
                

        <div class="ui center aligned grid">
                <h4 class="ui icon header"> 
                        <i class="comments icon"></i>
                            <div class="content">
                                 Messages
                            <div class="sub header">Use this basic chat app to send messages to other users</div>
                            </div>
                </h4>
        </div>  


        <div class="ui placeholder segment" style="height:88%; padding: 0px; ">
                
                 <div class="" style="width:100%; position: absolute; left: 0px; bottom: 0px">
                                <div class="ui fluid action input">
                                                <input type="text" placeholder="Send">
                                                <div class="ui button">Search</div>
                                              </div>
                 </div>     
        </div>




        

      
</div>

<div class="ui right very thin  vertical inverted visible menu sidebar" style="top: 40px; width: 100px">
                <div class=" item" id="menu">
                                Online
                     </div>
</div>











<% include ./partials/footer %>