<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/sidebar %>

<div class= "pusher">
                

        <div class="ui center aligned grid">
                <h4 class="ui icon header"> 
                        <i class="comments icon"></i>
                            <div class="content">
                                 Messages
                            <div class="sub header">Use this basic chat app to send messages to other users</div>
                            </div>
                </h4>
        </div>  


        <div class="ui segment" id="chat" style="height:70%; padding: 0px; ">
                <div id="output">
                        <% msgs.forEach(msg=>{ %>
                                <p class="new_message"><strong><%= msg.UID %>:&nbsp&nbsp&nbsp </strong><%= msg.BODY %> <span class="timestamp"> <%= msg.TIMESTAMP %> </span></p>
                        <% }) %>
                        
                </div>
               
                
                 <div style="width:100%; position: absolute; left: 0px; bottom: -40px">
                                <div class="ui fluid action input">
                                        <input id="<%= currentUser._id %>" name="message" type="text" placeholder="Enter message to other users">
                                        <div class="ui button" id="send_message">Send</div>
                                </div>
                 </div>     
        </div>




        

      
</div>












<% include ./partials/footer %>