<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/sidebar %>

<div class= "pusher" style="width: calc(100% - 260px); height: 100%; padding-top: 50px; margin-top: -40px">
    <div class="ui center aligned grid">
        <h4 class="ui icon header">
            <i class="table icon"></i>
            <div class="content">
                Statistics
                <div class="sub header">Statistics page under construction</div>
            </div>
        </h4>
    </div>       
</div>



<% include ./partials/footer %>