html {
    height: 100%;
}
body {
    background-color: none
}
div.ui.menu{
    margin: 0px;
    border-radius: 0px;
}
.pusher {
    height: 90%;
    margin-top: 2em;
    position: absolute;
    left: -78px;
}

#output {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden
}

.new_message {
    padding-left: 2%;
}
.new_message span {
    float: right;
    padding-right: 2%
}

.profile_settings {
    display: none;
}

@media only screen and (min-width:500px){
    .mobile {
        display: none !important
    }
    .pusher {
        width: calc(100% - 182px);
    }
}
@media only screen and (max-width:500px){
    .sidebar {
        display: none !important
    }
    #currentuser {
        display: none;
    }
    .pusher {
        width: 100%;
        position: absolute;
        left: -260px;
    }
    .timestamp {
        display: none;
    }
}